<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <title>{{data.title}}</title>
</head>

<body>
    
    Target diagram and its code:
    <div class="mermaid">
{{data.compare_code}}
    </div>
    <pre><code>{{data.compare_code}}</code></pre>

    Created diagram and its code:
    <div class="mermaid">
{{data.created_code}}
    </div>
    <pre><code>{{data.created_code}}</code></pre>
    <script src='{{data.mermaid_src}}'></script>
    <script>
        let config = {
            startOnLoad: true,
            securityLevel: 'loose', // strict, loose
            theme: 'neutral', // base, default, forest, dark, neutral
            flowchart: {
                useMaxWidth: true,
                htmlLabels: true,
                curve: 'straight' // cardinal, straight
            }
        };
        mermaid.initialize(config);
    </script>
</body>

</html>